<ion-view>
    <ion-nav-bar class="bar-royal"><ion-nav-title>Commentaires</ion-nav-title></ion-nav-bar>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card" ng-repeat="comment in comments">

            <div class="item item-avatar">
                <img src="{{comment.fromUser.profilePictureURL}}">
                <h2>{{comment.fromUser.displayName}}</h2>
                <p>{{comment.createdAt | date: 'LLLL d, yyyy'}}</p>
                <button ng-click="deleteMessage(comment)" ng-if="comment.fromUser.id == currentUser.id" class="button button-icon ion-ios-trash"></button>
            </div>

            <div class="item item-body">
                <p>
                    {{comment.message}}
                </p>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" ng-model="message" placeholder="Commentez">
            </label>
            <button ng-click="sendMessage()" class="button button-small">
                Envoyer
            </button>
        </div>
    </ion-footer-bar>

</ion-view>