<ion-view>
    <ion-nav-bar class="bar-assertive"><ion-nav-title>Kinder</ion-nav-title></ion-nav-bar>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card" ng-repeat="item in itemsToDisplay track by $index">

            <div class="item item-divider">
                <h2>{{item.name}}</h2>
            </div>

            <div class="item item-image">
                <a href="#/tab/article/{{item.kinderId}}">
                    <img ng-src="{{item.imageURL}}" alt="{{item.name}}">
                </a>
               
            </div>
            <div class="item item-divider">
                <a href="#/tab/article/{{item.kinderId}}" class="button button-assertive"><i class="fa fa-shopping-cart"></i> Voir</a>
            </div> 

        </div>
    </ion-content>
</ion-view>
