<ion-view>
    <ion-nav-bar class="bar-royal"><ion-nav-title>Likes</ion-nav-title></ion-nav-bar>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list card" ng-repeat="like in likes">

            <div class="item item-avatar">
                <img src="{{like.fromUser.profilePictureURL}}">
                <h2>{{like.fromUser.displayName}}</h2>
            </div>
        </div>
    </ion-content>
</ion-view>