<ion-view>
    <ion-nav-bar class="bar-royal"><ion-nav-title>Instagram</ion-nav-title></ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <!-- Dashboard Tab -->
        <ion-tab title="Image Liste" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/imageList">
            <ion-nav-view name="imageListContainer"></ion-nav-view>
        </ion-tab>
        <!-- Chats Tab -->
        <ion-tab title="Ajouter Photo" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/addPost">
            <ion-nav-view name="addPostContainer"></ion-nav-view>
        </ion-tab>
        <!-- Account Tab -->
        <ion-tab title="Profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profil">
            <ion-nav-view name="profilContainer"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>


