/* Empty. Add your own CSS if you like */

.item-divider > .button-assertive {
    position: absolute;
    top: 6px;
    right: 12px;
}

.item-divider > .button-positive {
    position: absolute;
    top: 6px;
    left: 12px;
}

.card .item:last-child, .list-inset .item:last-child {
    padding-top: 50px;
}

.item-divider {
  text-color: red;
}

.item h2 {
    font-weight: bolder;
    color: #e42112;
}

#trash {
    position: absolute;
    top: 35px;
    right: 15px;
}

.qtyItem {
position: absolute;
    right: 25px;
    top: 25px;
    font-size: 25px;
}

.bar.bar-positive {
    position: relative;
}

.input-label {
    font-weight:bold;
}
